#aolplugin-container {
  width: 355px;
}
.fvs-wrapper .tab-control .content-item .fivemin-videoselect-twocolumns .fivemin-videoselect-col1 {
  width: 150px !important;
}
label[for="fm-sFM-cb-inTitle"] {
  display: inline;
}
#fivemin-videoSelectContainer,
.fvs-wrapper {
  width: 650px !important;
}
#drag-plugin {
  -moz-border-radius: 3px;
  -ms-filter: none !important;
  -webkit-border-radius: 3px;
  background: url("http://pshared.5min.com/Graphics/CreationControl/drag.gif") no-repeat scroll left top transparent;
  border: solid 1px #000000;
  border-radius: 3px;
  color: #a8a395;
  cursor: pointer;
  display: inline-block;
  filter: none !important;
  font-size: 11px;
  height: 16px;
  line-height: 16px;
  margin-right: 5px;
  padding: 3px;
  position: absolute;
  right: 5px;
  text-align: left;
  top: 3px;
  width: 49px;
}
